.score-content {
    color: aliceblue;
}

.title-score{
    margin-top: 42px;
    font-size: 40px;
}

.score-details{
    margin-top: 42px;
    font-size: 30px;
}

.btn-end-challenger{
    margin-top: 20px;
    
}