.host-content{
    position: relative;
    color: #FFFFFF;
    margin-top: 20px;
    width: 100%;
    padding: 40px;
    text-align:center;
}

.input-box {
    margin-bottom: 40px;
}

.input-box, .rooms-list {
    width: 100%;
}

.input-box input {
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    color: white;
}

.input-box input::placeholder {
    color: #FFF;
}

.input-box button {
    height: 30px;
    padding: 0 20px;
    text-align: center;
    border: none;
    border-radius: 6px;
    margin-left: 20px;
    cursor: pointer;
}

.challenger-info{
    text-align: left;
    font-size: 20px;
    margin-bottom: 12px;
}

td{
    vertical-align: middle;
    text-align: left;
}
.challenger-table{
    background-color: gray;
    max-height: 250px;
    overflow-y: scroll;
}

.btn-exclude-challenger {
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 2em; height: 2em;
	border-radius: 50%;
	background: transparent;
	color: black;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;
}


.btn-exclude-challenger:hover {
    background: rgba(0, 0, 0, 0.1)
}

.btn-exclude-challenger:before, .btn-exclude-challenger:after {
    position: absolute;
    top: 15%; left: calc(50% - .0625em);
    width: .125em; height: 70%;
    border-radius: .125em;
    transform: rotate(45deg);
    background: currentcolor;
    content: ''
}

.btn-exclude-challenger:after { transform: rotate(-45deg); }

.btn-add{
    cursor: pointer;
}

.btn-save{
    margin-top: 20px;
    cursor: pointer;
}

